/*TESTANDO O CSS */

* {
    box-sizing: border-box;
}	
.packt {
	border-style: solid;
	border-color: black;
	color: #FF00FF;
}
.pub1 {
	border-style: dotted;
	border-color: red;
	color: #FF00FF;
}
h3{
	background-color: white;
	color:black;
}
.packtlib {
	background-color: #eef;
	border-style: dotted;	
	border-color: lime;
	color: #FF0000;
}
.packtlib a:hover {
	backgroud-color:red ;
}
#page-body {
	margin:0;
}
.pub {
	border-style: dotted;
	border-color: green;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 30px;
	padding-left: 30px;
}

ul{
background-color: white;
color:blue;
font-size:20px;
}
body{
margin:10px;
}
.teste{
}
h1.teste{
 color:black;
}
.link-normal {
	background: green;
	color: #FFF;
	margin: 10px;
	padding: 20px;
}
#site{
	backgroud:white;
	margin:0px;
}
#cabecalho{
	background-color: #eee;
	float: right;
	text-align:right;	
}
#grailsLogo{
	background-color: #000000;
	padding:10px;
}
#status-login{
	backgroud:gray;
	padding:20px;
	text-align:right;
}
#conteudo{
	margin:10px;
}
#rodape{
}

/*MOVIDO O AQUIVO main3.gps*/
.ie6 #status {
	display: inline; /* float double margin fix http://www.positioniseverything.net/explorer/doubled-margin.html */
	}
.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
  	padding: 0.5em;
  	right: 0;
	top: 0;
	text-indent: -9999px;
}	
.footer {
	background: #000;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}				
	